<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://file.citylossantos.com/img.png">
    <meta property="og:title" content="Short URL" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://url.citylossantos.com" />
    <meta property="og:image" content="http://file.citylossantos.com/img.png" />
    <meta property="og:description" content="URL shortener" />
    <meta name="theme-color" content="#020470">
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <input id="dark-mode-toggle" type="button" value="Dark Mode" class="button top-right" onclick="toggleDarkmode()">
    <input id="white-mode-toggle" type="button" value="Dark Mode" class="white button top-right" style="display: none;" onclick="toggleDarkmode()">
    {% block content %}
    {% endblock %}
</body>
<script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = 'expires=' + d.toUTCString();
        document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
    }

    function getCookie(cname) {
        var name = cname + '=';
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function checkCookie() {
        let darkmode = getCookie('shorturldarkmode');
        if (darkmode === 'true') {
            toggleDarkmode()
            return
        }
    }

    var darkModeEnabled = false

    function toggleDarkmode() {
        darkModeEnabled ^= true
        setCookie('shorturldarkmode', darkModeEnabled === 1, 365)
        let element = document.body;
        element.classList.toggle('dark-mode')
        let button = document.getElementById('dark-mode-toggle')
        button.classList.toggle('button-dark')
        button.style.display = darkModeEnabled ? 'none' : 'block'
        let button2 = document.getElementById('white-mode-toggle')
        button2.style.display = darkModeEnabled ? 'block' : 'none'
        let input = document.getElementById('input')
        if (input) input.classList.toggle('btn-white')
        let input2 = document.getElementById('short')
        if (input2) input2.classList.toggle('btn-white')
        let input3 = document.getElementById('copy')
        if (input3) input3.classList.toggle('btn-white')
    }

    checkCookie()
</script>
</html>
